In [2]:
import io
import os
import json
import pandas as pd

In [4]:
from flask import Flask, request, send_from_directory, abort

In [9]:
df_50 = pd.read_csv('./data/Future50.csv')
df_Ind100 = pd.read_csv('./data/Independence100.csv')
df_250 = pd.read_csv('./data/Top250.csv')

O que é cada coluna de Future50:

- Rank: Posição do restaurante
- Restaurant: Nome do restaurante
- Location: Localização
- Sales: Vendas do restaurante
- YOY_Sales: Vendas ano a ano
- Units: Quantidade de instalações. "Lojas"
- YOY_Units: Crescimento ano a ano por instalação
- Unit_Volume: Volume médio por instalação
- Franchising: Se é franqueado

In [11]:
df_50.head()

,Rank,Restaurant,Location,Sales,YOY_Sales,Units,YOY_Units,Unit_Volume,Franchising
0,1,Evergreens,"Seattle, Wash.",24,130.5%,26,116.7%,1150,No
1,2,Clean Juice,"Charlotte, N.C.",44,121.9%,105,94.4%,560,Yes
2,3,Slapfish,"Huntington Beach, Calif.",21,81.0%,21,90.9%,1370,Yes
3,4,Clean Eatz,"Wilmington, N.C.",25,79.7%,46,58.6%,685,Yes
4,5,Pokeworks,"Irvine, Calif.",49,77.1%,50,56.3%,1210,Yes

O que é cada coluna de Independence100:

- Rank:
- Restaurant:
- Sales:
- Avarage Check:
- City:
- State:
- Meals Served:

In [10]:
df_Ind100.head()

,Rank,Restaurant,Sales,Average Check,City,State,Meals Served
0,1,Carmine's (Times Square),39080335.0,40,New York,N.Y.,469803.0
1,2,The Boathouse Orlando,35218364.0,43,Orlando,Fla.,820819.0
2,3,Old Ebbitt Grill,29104017.0,33,Washington,D.C.,892830.0
3,4,LAVO Italian Restaurant & Nightclub,26916180.0,90,New York,N.Y.,198500.0
4,5,Bryant Park Grill & Cafe,26900000.0,62,New York,N.Y.,403000.0

O que é cada coluna de Top250:

- Rank:
- Restaurant:
- Content:
- Sales:
- YOY_Sales:
- Units:
- YOY_Units:
- Headquarters:
- Segment_Category

In [13]:
df_250.head()

,Rank,Restaurant,Content,Sales,YOY_Sales,Units,YOY_Units,Headquarters,Segment_Category
0,1,McDonald's,NaN,40412,4.9%,13846,-0.5%,NaN,Quick Service & Burger
1,2,Starbucks,NaN,21380,8.6%,15049,3.0%,NaN,Quick Service & Coffee Cafe
2,3,Chick-fil-A,While Popeyes got a lot of the chicken buzz in...,11320,13.0%,2470,5.0%,NaN,Quick Service & Chicken
3,4,Taco Bell,NaN,11293,9.0%,6766,2.7%,NaN,Quick Service & Mexican
4,5,Burger King,NaN,10204,2.7%,7346,0.2%,NaN,Quick Service & Burger